<div>
  <h2 class="new-list center">New List</h2>

  <div id="list-form">
    <%= form_for @list do |f| %>
      <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <%= f.submit "Create list" %>
    <% end %>
  </div>

</div>