<div>
  <h2 class="new-list">New List</h2>

  <div class="new-list">
    <%= form_for @list, remote: true do |f| %>
      <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <%= f.submit "Create list" %>

      <!-- ADD SELECT FIELDS TO ADD FUNCTIONALITY TO ADD MEALS TO A LIST -->
    <% end %>
    

  </div>

</div>