
<h3 class="center"><%= @meal.name.capitalize %></h3>
<div id="ingredient-form">
  <%= form_tag ingredients_path do %>
    <% @ingredients.each do |array| %>
      <%= fields_for 'ingredients[]', array[0] do |ingredient_f| %>
        <p>
          <%= ingredient_f.label :Ingredient_name %>
          <%= ingredient_f.text_field :name %>
        </p>
        <p>
          <%= ingredient_f.label :unit_type %>
          <%= ingredient_f.text_field :unit_type %>
        </p>
      <% end %>


    <%= fields_for 'meal_items[]', array[1] do |meal_item_f| %>
      <%= meal_item_f.hidden_field :meal_id, value: @meal.id %>
      <p>
        <%= meal_item_f.label :quantity %>
        <%= meal_item_f.text_field :quantity %>
      </p>
      <p>
        <%= meal_item_f.label :instruction %>
        <%= meal_item_f.text_field :instruction %>
      </p>
    <% end %>
  <% end %>

  <p>
    <%= submit_tag "Submit" %>
  </p>
</div>
<% end %>
