<div>
  <h2>Meals</h2>

  
  <%= link_to "Create New Meal", new_meal_path %>
  <%= link_to "Create New List", new_list_path %>
  
  <% @meals.each do |meal| %>
    <h4> <%= meal.name %> </h4>
      <ul>
      <% meal.ingredients_array.each do |ingredient| %>
        <li><%= ingredient[:name] %></li>
        <ul>
          <li>
            <%= "#{ingredient[:quantity]} #{ingredient[:unit]}" %>
          </li>
        </ul>
      <% end %>
      </ul>
  <% end %>

  
</div>