<div>
  <h2 class="center">New Meal</h2>

  <div id="meal-form">
    <%= form_for @meal, remote: true do |f| %>
      <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>
      <p>
        <%= f.label :Meal_name %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= label_tag "how many ingredients will this meal have?" %>
        <%= text_field_tag :ingredient_quantity %>
      </p>

        <%= f.submit "create meal" %>
    <% end %>
  </div>
</div>
