<div>
  <h2 class="center">New Meal</h2>

  <div class="center errors">
    <%= render 'errors' %>
  </div>

  <div id="meal-form">
    <%= form_for @meal do |f| %>
      <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>
      <p>
        <%= f.label :Meal_name %>
        <%= f.text_field :name %>
      </p>
        <%= f.label "Click 'Next' to add ingredients" %>
        <%= f.submit "Next" %>
    <% end %>
  </div>
</div>
