<div>
  <h2>New Meal</h2>

  <div>
    <%= form_for @meal do |f| %>
      <p>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </p>
      <p>
        <%= f.label :Meal_name %>
        <%= f.text_field :name %>
      </p>

      <div class="ingredients">
        <%= render 'ingredient_form' %>
      </div>


        <%= f.submit "create meal" %>
    <% end %>
  </div>

  <%= button_to "New Ingredient", new_ingredient_path, remote:true  %>
</div>