<!DOCTYPE html>
<html>
  <head>
    <title>gList</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo left">gList</a>
          <ul class="right">
            <% if !logged_in? %>
              <li> <%= link_to "Login", login_path %> </li>
              <li> <%= link_to "Sign Up!", new_user_path %> </li>
            <% else %>
              <li> <%= link_to "Home", root_path %> </li>
              <li> <%= link_to "My Lists", user_path(current_user.id) %></li>
              <li> <%= link_to "Logout", logout_path %> </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
