<!DOCTYPE html>
<html>
  <head>
    <title>gList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <h1>gList</h1>
        <div>
          <% if !logged_in? %>
            <%= link_to "Login", login_path %>
            <%= link_to "Sign Up!", new_user_path %>
          <% else %>
            <%= link_to "Home", root_path %>
            <%= link_to "Logout", logout_path %>
          <% end %>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
